/***** BASE STYLES *****/

body {
	color: #7F7F7F;
	font-family: 'Source Sans Pro', sans-serif;
}


/***** GRID *****/

.full-width {
	margin: 0 auto;
	overflow: auto;
	width: 1200px;
}


.half-width {
	float: left;
	width: 600px;
}


.third-width {
	float: left;
	width: 400px;
}


/***** HEADER *****/

header {
	background: url("../img/full-background.png");
	background-position: center;
	background-size: cover;
	height: 600px;
}


header h1 {
	color: #bbc085;
	font-family: 'Lora', serif;
	font-size: 30px;
	padding: 65px 0 65px 25px;
}


/*** Nav section links ***/

nav {
	float: right;
	padding: 75px 25px;
}


nav ul li {
	display: inline-block;
}


nav ul li a {
	color: #828282;
	font-size: 18px;
	padding-left: 40px;
	text-decoration: solid;
	text-transform: uppercase; 
}


/*** Header section callout ***/

header h2 {
	clear: both;
	color: #9b9b9b;
	font-family: 'Lora', serif;
	font-size: 72px;
	line-height: 80px;
	padding: 20px 0 20px 25px;
	width: 1000px;
}


header h2 span {
	color: #2b2b2b;
}


/***** ABOUT *****/

#about .full-width {
	padding: 80px 0;
}


#about h2 {
	font-family: 'Lora', serif;
	font-size: 36px;
	padding-left: 20px;	
}


#about p {
	color: #2b2b2b;
	font-size: 21px;
	line-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}


/***** WORK *****/

#work {
	background-color: #f9ceb7;
	text-align: center;
}


#work .full-width {
	padding: 115px 0;
}


#work img {
	padding-bottom: 30px;
}


#work h3 {
	font-size: 24px;
	line-height: 32px;
	margin: 0 auto;
	width: 190px;
}


#work p {
	font-family: 'Lora', serif;
	font-size: 18px;
	line-height: 30px;
	padding: 0 50px;
}


/***** CONTACT *****/

#contact {
	background-color: #ebebeb;
}


#contact .full-width {
	padding: 110px 0;
}


#contact img#contact-img {
	border: 12px solid #ffffff;
	margin-left: 25px;
}


#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
	padding-left: 115px;
}


#contact #envelope {
	padding: 0 10px 0 115px;
}


#contact h2 {
	color: #2b2b2b;
	font-family: 'Lora', serif;
	font-size: 36px;
	line-height: 44px;
}


#contact #email-header {
	font-size: 32px;
	font-weight: 400;
	line-height: 44px;
	margin: -30px 0 5px 0;
}


#contact #socialmedia-header {
	font-size: 29px;
	font-weight: 700;
	line-height: 44px;
	margin: 40px 0 0 0;
}

/*** Contact link ***/
#contact a {
	text-decoration: solid; 
	color: #c49075;
	font-weight: 700;
	font-size: 28px;
}


#contact ul {
	list-style: none;
}


#contact ul li {
	display: inline-block;	
}


#contact ul img {
	padding-right: 48px;	
}